*{background-color: burlywood;
text-align: center;
font-size:  40px;
color: firebrick;}

 .Foto01{
     text-align: left;
 }
.Foto02{
    text-align: center;

}
.Foto03{
    text-align: right;
}